* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Armata', sans-serif; }

section {
  margin-top: 6rem; }

header {
  height: 100vh;
  padding-top: 7rem; }
  header .header_container {
    height: 100%;
    position: relative; }
  header .introduce_sec {
    color: #ffff; }
    header .introduce_sec h2 {
      font-weight: bold; }
    header .introduce_sec .titles {
      padding-top: 0.5rem;
      color: #D9D9D9; }
  header .btn_container {
    padding-top: 2rem;
    gap: 1.2rem;
    display: flex; }
    header .btn_container .btn {
      text-decoration: none;
      background: none;
      color: #3C6E71;
      display: inline-block;
      max-width: max-content;
      border: 1.5px solid #3C6E71;
      border-radius: 0.4rem;
      cursor: pointer;
      padding: 0.75rem 1.2rem; }
    header .btn_container .btn:hover {
      background: #3C6E71;
      color: #D9D9D9; }
  header .header_social_icons {
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    left: 1rem;
    position: absolute; }
    header .header_social_icons .social_icons {
      color: #3C6E71;
      font-size: 1rem; }
    header .header_social_icons .social_icons:hover {
      color: #D9D9D9;
      transition-duration: 0.3s; }
  header .scroll_down {
    bottom: 5rem;
    font-size: .9rem;
    position: absolute;
    right: -1.3rem;
    transform: rotate(90deg);
    text-decoration: none;
    color: #3C6E71; }
  header .scroll_down:hover {
    color: #D9D9D9;
    transition-duration: 0.4s; }
  header .ilustration {
    width: 18rem;
    margin-top: 3rem;
    position: absolute;
    left: calc(50% - 9rem); }

nav, nav a {
  display: flex; }

nav {
  backdrop-filter: blur(15px);
  border: 1px solid #d9d9d9;
  background: rgba(53, 53, 53, 0.3);
  border-radius: 3rem;
  top: 50%;
  right: -5rem;
  padding: 0.7rem 1.7rem;
  position: fixed;
  transform: translateX(0%);
  transform: rotate(90deg);
  width: max-content;
  z-index: 2; }
  nav a {
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.9rem;
    color: #D9D9D9;
    background: none;
    padding-left: 1rem;
    padding-right: 1rem;
    transform: rotate(-90deg); }
  nav a:hover {
    background: #3C6E71;
    color: #D9D9D9;
    transition-duration: 0.3s; }
  nav .active {
    background: #3C6E71;
    color: #fff; }

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  nav {
    right: -4rem;
    padding: 0.3rem 1rem;
    transform: rotate(90deg); }
    nav a {
      font-size: 0.8rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; } }

.about div div h6 {
  color: #d9d9d9; }

.about div div h2 {
  color: #fff;
  margin-bottom: 3rem; }

.about div .containers_about {
  gap: 10rem; }
  .about div .containers_about div img {
    display: block;
    width: 100%; }
  .about div .containers_about .group_about_cards {
    padding: 0; }
    .about div .containers_about .group_about_cards .card {
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid #d9d9d9;
      padding: 4rem 0rem;
      border-radius: 2rem; }
      .about div .containers_about .group_about_cards .card .card-body {
        padding-left: 0.2rem;
        padding-right: 0.2rem; }
      .about div .containers_about .group_about_cards .card h6 {
        font-size: 1.1rem;
        color: #fff; }
      .about div .containers_about .group_about_cards .card .about_icon {
        font-size: 1.5rem;
        color: #D9d9d9;
        margin-bottom: 2rem; }
      .about div .containers_about .group_about_cards .card .about_p {
        color: #D9d9d9;
        font-size: 0.8rem; }
    .about div .containers_about .group_about_cards .card:hover {
      backdrop-filter: blur(5px);
      background-color: rgba(60, 110, 113, 0.3);
      border: 1.5px solid #3C6E71;
      transition-duration: 0.2s;
      cursor: pointer; }
  .about div .containers_about .about_me {
    padding-top: 3rem;
    color: #d9d9d9; }

.skills .head_skills h6 {
  color: #d9d9d9; }

.skills .head_skills h2 {
  color: #fff;
  margin-bottom: 3rem; }

.skills .cards_container {
  padding: 0rem 2rem;
  gap: 2rem; }
  .skills .cards_container .card_skill {
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 3rem 2rem;
    background-color: rgba(217, 217, 217, 0.15); }
    .skills .cards_container .card_skill .skills_icon {
      font-size: 1.5rem;
      color: #d9d9d9;
      margin-bottom: 2rem; }
    .skills .cards_container .card_skill .cards_title {
      color: #fff;
      font-size: 1.1rem; }
    .skills .cards_container .card_skill .skills_p {
      color: #D9d9d9;
      font-size: 0.8rem;
      padding-bottom: 0.5rem; }
    .skills .cards_container .card_skill .skills_desc {
      color: #fff;
      font-size: 1.1rem; }
    .skills .cards_container .card_skill ul .list-group-item {
      background-color: rgba(217, 217, 217, 0);
      border: none; }

.portfolio .portfolio_header h6 {
  color: #d9d9d9; }

.portfolio .portfolio_header h2 {
  color: #fff;
  margin-bottom: 3rem; }

.portfolio .cards_portfolio_container {
  padding: 0rem 2rem;
  gap: 2rem; }
  .portfolio .cards_portfolio_container .cards_portfolio {
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 3rem 2rem;
    background-color: rgba(217, 217, 217, 0.15); }
    .portfolio .cards_portfolio_container .cards_portfolio .cards_title_portfolio {
      color: #fff;
      font-size: 1.1rem;
      text-align: start; }
    .portfolio .cards_portfolio_container .cards_portfolio .portfolio_p {
      color: #D9d9d9;
      font-size: 0.8rem;
      padding-bottom: 0.5rem;
      text-align: start; }
    .portfolio .cards_portfolio_container .cards_portfolio .btn_section_portfolio .btn {
      border: 1px solid #d9d9d9;
      background-color: rgba(217, 217, 217, 0);
      color: #d9d9d9;
      padding: 0.3rem 1rem; }
      .portfolio .cards_portfolio_container .cards_portfolio .btn_section_portfolio .btn a {
        font-size: 0.85rem;
        color: #d9d9d9;
        text-decoration: none; }
    .portfolio .cards_portfolio_container .cards_portfolio .btn_section_portfolio .btn:hover {
      background-color: #3c6e71;
      border: 1px solid #3C6E71;
      cursor: pointer;
      transition-duration: 0.2s; }

.contact {
  padding-bottom: 5rem; }
  .contact div div h6 {
    color: #d9d9d9; }
  .contact div div h2 {
    color: #fff;
    margin-bottom: 3rem; }
  .contact .cards_info_container div {
    max-width: 480px; }
    .contact .cards_info_container div article .card {
      backdrop-filter: blur(5px);
      background-color: rgba(217, 217, 217, 0.15);
      border: 1.5px solid #d9d9d9;
      border-radius: 1rem;
      padding: 1rem 2rem; }
      .contact .cards_info_container div article .card .contact_icon {
        font-size: 1.5rem;
        color: #d9d9d9;
        margin-bottom: 1rem; }
      .contact .cards_info_container div article .card .card-title {
        color: #fff;
        font-size: 1.1rem; }
      .contact .cards_info_container div article .card .contact_p {
        color: #D9d9d9;
        font-size: 0.8rem; }
        .contact .cards_info_container div article .card .contact_p .link_contact {
          text-decoration: none;
          color: #3C6E71; }
        .contact .cards_info_container div article .card .contact_p .link_contact:hover {
          cursor: pointer;
          color: #d9d9d9;
          transition-duration: 0.2s; }
    .contact .cards_info_container div article .card:hover {
      backdrop-filter: blur(5px);
      background-color: rgba(217, 217, 217, 0.6);
      border: 1.5px solid #3C6E71;
      transition-duration: 0.2s; }

.footer {
  padding-top: 3rem;
  height: auto;
  backdrop-filter: blur(5px);
  background: #353535;
  background: linear-gradient(180deg, #353535 0%, #3c6e71 89%); }
  .footer .div_gen_footer div img {
    max-width: 7rem;
    cursor: pointer; }
  .footer .div_gen_footer .footer_navbar {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: 0 auto;
    padding-left: 0;
    flex-wrap: wrap; }
    .footer .div_gen_footer .footer_navbar .list_footer_item {
      list-style: none;
      color: #d9d9d9;
      padding-left: 1rem;
      padding-right: 1rem; }
    .footer .div_gen_footer .footer_navbar .list_footer_item:hover {
      color: #353535;
      transition-duration: 0.2s;
      cursor: pointer; }
  .footer .div_gen_footer .footer_icons {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 5rem; }
    .footer .div_gen_footer .footer_icons .list_footer_icons {
      list-style: none;
      font-size: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem; }
      .footer .div_gen_footer .footer_icons .list_footer_icons a {
        text-decoration: none;
        color: #d9d9d9; }
      .footer .div_gen_footer .footer_icons .list_footer_icons a:hover {
        color: #353535;
        transition-duration: 0.2s;
        cursor: pointer; }
  .footer .div_gen_footer .copy_right_container .copy_p {
    color: rgba(217, 217, 217, 0.7); }
