.about {
    div {
        div {
            h6 {
                color: #d9d9d9;
            }
            h2 {
                color: #fff;   
                margin-bottom: 3rem; 
            }
        }

        .containers_about {
            gap: 10rem;
            div {
                img {
                    display: block;
                    width: 100%;
                }
            }

            .group_about_cards {
                padding: 0;
                
                .card {
                    backdrop-filter: blur(5px);
                    background-color: rgba($color: #fff, $alpha: 0.05);
                    border: 1px solid #d9d9d9;
                    padding: 4rem 0rem;
                    border-radius: 2rem;

                    .card-body {
                        padding-left: 0.2rem;
                        padding-right: 0.2rem;
                    }

                    h6 {
                        font-size: 1.1rem;
                        color: #fff;
                    }

                    .about_icon {
                        font-size: 1.5rem;
                        color: #D9d9d9;
                        margin-bottom: 2rem;
                    }
                    .about_p {
                        color: #D9d9d9;
                        font-size: 0.8rem;
                    }
                }

                .card:hover {
                    backdrop-filter: blur(5px);
                    background-color: rgba($color: #3C6E71, $alpha: 0.3);
                    border: 1.5px solid #3C6E71;
                    transition-duration: 0.2s;
                    cursor: pointer;
                }
            }
            .about_me {
                padding-top: 3rem;
                color: #d9d9d9;
            }
        }
    }
}
    
