.contact {
    padding-bottom: 5rem;
    div {
        div {
            h6 {
                color: #d9d9d9;
            }

            h2 {
                color: #fff;
                margin-bottom: 3rem; 
            }
        }   
    }
    .cards_info_container {
        div {
            article {
                .card {
                    backdrop-filter: blur(5px);
                    background-color: rgba($color: #d9d9d9, $alpha: 0.15);
                    border: 1.5px solid #d9d9d9;
                    border-radius: 1rem;
                    padding: 3rem 4rem;

                    .contact_icon {
                        font-size: 1.5rem;
                        color: #d9d9d9;
                        margin-bottom: 1rem;
                    }

                    .card-title {
                        color: #fff;
                        font-size: 1.1rem;
                    }

                    .contact_p {
                        color: #D9d9d9;
                        font-size: 0.8rem;

                        .link_contact {
                            text-decoration: none;
                            color: #3C6E71;
                        }
                        .link_contact:hover {
                            cursor: pointer;
                            color: #d9d9d9;
                            transition-duration: 0.5s;
                        }
                    }
                }
                .card:hover {
                    backdrop-filter: blur(5px);
                    background-color: rgba($color: #3C6E71, $alpha: 0.2);
                    border: 1.5px solid #3C6E71;
                    transition-duration: 0.5s;
                    cursor: pointer;
                }
            }
        }
    }
}