.portfolio {
    div {
        div {
            h6 {
                color: #d9d9d9;
            }

            h2 {
                color: #fff;
                margin-bottom: 3rem; 
            }
        }
        .cards_skills_container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div {
            div {
                .card {
                    backdrop-filter: blur(5px);
                    background-color: rgba($color: #d9d9d9, $alpha: 0.15);
                    border: 1.5px solid #d9d9d9;
                    border-radius: 3rem;

                    .card-body {
                        padding: 5rem 4rem;
                    }

                    .card-title {
                        color: #fff;
                        font-size: 1.1rem;
                        text-align: start;
                    }

                    .skills_p {
                        color: #D9d9d9;
                        font-size: 0.8rem;
                        text-align: start;
                    }

                    .btn_portfolio {
                        border: 1px solid #d9d9d9;
                        background-color: rgba($color: #d9d9d9, $alpha: 0);
                        color: #d9d9d9;
                        padding: 0.8rem 2rem;

                        a {
                            text-decoration: none;
                            color: #d9d9d9;
                        }
                    }

                    .btn_portfolio:hover {
                        background-color: rgba($color: #3C6E71, $alpha: 1);
                        border: 1px solid #3C6E71;
                        cursor: pointer;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
    }
}